*{margin: 0px; padding: 0px;font-family: Arial, Helvetica, sans-serif;}

a{
    text-decoration: none;
    color: black
}
p {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
h1 {
    font-size: 34px;
    color: #db6516;
    margin-left: 10px;
}
h2{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #db6516;
}
h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #db6516;
}
#all {
    width: 100%;
    min-height: 100px;
    /* background-color: antiquewhite; */
    background-image: url(imgs/background.png);
}
#wraper_all {
    width: 960px;
    min-height: 100px;
    margin: auto;
    border: 1px ; 
    box-shadow: 1px 1px 10px 5px #bcb4a3; 
    /* Tạo bóng cho vùng div với h-offser = 1px, v-offset = 1px, độ blur = 1px và spread=10px */
}
#wraper_header {
    width: 960px;
    height: 450px;
    margin: auto;
}
header {
    width: 960px;
    height: 300px;
    background-color: black;
    margin: auto;
}
#logo {
    width: 350px;
    height: 100px;
    background-color: #da6516;
    margin-left: 10px;
    float: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#logo img {
    margin-top: 10px;
    margin-left: 20px;
}
nav {
    width: 230px;
    height: 300px;
    background-color: #da6516;
    margin-left: 730px;
}
#container_1 {
    width: 960px;
    height: 250px;
    /* background-color: rgb(0, 0, 0); */
    background-image: url(imgs/container_1.png);
    margin-top: -90px;
}
#heading_1,#heading_2,#heading_3,#heading_4 {
    width: 200px;
    height: 150px;
    /* background-color: aquamarine; */
    float: left;
    margin-left: 20px;
    margin-top: 85px;
}
#heading_2,#heading_3,#heading_4 {
    margin-left: 40px;
}
#container_2 {
    width: 960px;
    height: 600px;
    /* background-color: #e8e5dc; */
    background-image: url(imgs/background_3.png);
    margin: auto;
}
aside {
    width: 340px;
    height: 600px;
    /* background-color: crimson; */
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(imgs/background_2.png);
}
#video {
    width: 320px;
    height: 210px;
    background-color: azure;
    margin-top: 10px;
    margin-left: 10px;
}
#video video {
    margin-top: -30px;
}
article {
    width: 600px;
    height: 500px;
    /* background-color: #ffffff; */
    margin-left: 350px;
    position: relative;
    top: 10px;
}
#head_article {
    width: 500px;
    height: 100px;
    /* background-color: rgb(121, 74, 40); */
    position: absolute;
    top: 40px;
    left: 50px; 
}
#content {
    width: 500px;
    height: 230px;
    /* background-color: cornflowerblue; */
    position: absolute;
    top: 180px;
    left: 50px;
}
.img_content {
    width: 140px;
    height: 90px;
    /* background-color: crimson; */
    position: relative;
    /* top: 5px; */
    float: left;
}
#content_1, #content_2 {
    width: 500px;
    height: 100px;
    /* background-color: cornsilk; */
}
#content_1 {
    margin-top: 10px;
}
#content_2 {
    margin-top: 10px;
}
.inside_content {
    width: 330px;
    height: 90px;
    /* background-color: cyan; */
    margin-left: 160px;
    margin-top: 5px;
}
footer {
    width: 1620px;
    height:  10px;
    /* background-color: cadetblue; */
    margin: auto;
}
footer img {
    width: 1620px;
    height: 320px;
    margin-top: -350px;  
}